

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@theme{

    /*colors*/
--color-primary: #4D40CA;
--color-secondary: #FB5B32;
--color-hero: #EFEEFA;
--color-textmain: #151415;
--color-muted: #455151;
--color-background: #EFEEFA;
--color-icons: #ffffff/65;

   --font-prompt:"Prompt", sans-serif;
   --font-nunito:"Nunito", sans-serif;
}

@layer base{
    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    }
    
}
@layer utilities{
    .bg-heroo{
        background-image: url('../image/bg-hero\ \(2\).jpg');
        
    }
}

@layer utilities{
    .bg-travelling{
        background-image: url('../image/weekl_travelling/weeklytravelling-bg.jpg');
    }
}

@layer utilities{
    .bg-offer{
        background-image: url('../image/special/bg-special-offer.png');
    }
}

@layer utilities{
    .bg-hero2{
       background-image: url('../image/page2/hero_section/bg-hero2.png');
    }
}

@layer utilities{
    .bg-design{
        background-image: url('../image/page2/sec7/design.jpg');
    }
}



@utility test{
     border: 1px solid red;

}

@utility row {
    @apply flex flex-row items-center gap-2;
}

@utility stack {
    @apply flex flex-col items-center gap-2;
}

@utility circle{
    @apply rounded-full;
}

@utility centre{
    @apply flex items-center justify-center;
}
 

@utility navbar-link{
    @apply text-sm font-medium cursor-pointer;
 }
 
@layer components {
  .btn-primary {
    @apply border-none outline-none bg-[#4D40CA] flex  items-center justify-center text-white font-nunito px-4 py-2 rounded-4xl gap-2
    w-50 h-10;
  }
}

@layer components {
  .main-container {
    @apply w-full mx-auto px-5 lg:px-[50px];
  }
}

@utility h2{
    @apply text-[48px] text-black font-prompt font-bold
}